@model RCBC.Models.UserModel
@{
    ViewData["Title"] = "User Maintenance";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">User Password Reset</a></li>
                        <li class="breadcrumb-item active">Maintenance</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="d-flex justify-content-center">

                <div class="col-md-12">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-user pr-2"></i>User Password Reset</h3>
                        </div>

                        <div class="card-body">

                            @Html.HiddenFor(x => x.Id)
                            <div class="card-body">

                                <div class="row pb-3 pt-3">
                                    <div class="col-md-12">
                                        <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                            <table id="tbl_users" class="table table-bordered table-hover" style="width:100%"></table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <button type="button" id="btnResetPassword" class="btn btn-primary">Regenerate Password</button>
                                <button type="button" id="btnCancel" class="btn btn-danger ml-3">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div><!--/. container-fluid -->
    </section>

</div>
<!-- /.content-wrapper -->
@section Scripts
    {
    <script>
        $(document).ready(function () {

            LoadUsers();
            function LoadUsers() {
                $('#tbl_users').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: true,
                    paging: true,
                    order: [[1, "asc"], [2, "asc"]],
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../Maintenance/LoadUsers",
                        "type": "GET",
                        "datatype": "JSON",
                    },
                    columns:
                        [
                            { "data": "id", title: "id", vissible: false, orderable: false },
                            { "data": "username", title: "Username", sClass: "dt-body-center", orderable: false },
                            { "data": "employeeName", title: "Employee Name", sClass: "dt-body-center", orderable: false },
                            { "data": "email", title: "Email", sClass: "dt-body-center", orderable: false },
                            { "data": "mobileNumber", title: "Mobile Number", sClass: "dt-body-center", orderable: false },
                            { "data": "groupDept", title: "Group Department", sClass: "dt-body-center", orderable: false },
                            { "data": "userRole", title: "User Role", sClass: "dt-body-left", orderable: false }
                        ]
                });

                $('#tbl_users tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass("dtactive")) {
                        $(this).parent().find("tr").removeClass("dtactive");
                        $(this).addClass("dtactive");
                        Id = SelectedValue("tbl_users", "id");
                        $("[name='Id']").val(Id);
                    } else {
                        $(this).removeClass("dtactive");
                        $("[name='Id']").val(0);
                    }
                });
            }

            $('#btnResetPassword').click(function (e) {
                e.preventDefault();
                RegeneratePassword();
            });

            $('#btnCancel').click(function () {
                LoadUsers();
                $("[name='Id']").val(0);
            });

            function RegeneratePassword() {
                if ($("[name='Id']").val() != 0) {
                    Swal.fire({
                        text: "Are you sure you want to reset the password of this user?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#28a745',
                        cancelButtonColor: '#dc3545',
                        confirmButtonText: 'Yes, reset it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $('#loading-image').show();
                            $.ajax({
                                type: "POST",
                                url: "../Maintenance/RegeneratePassword",
                                data: { Id: $("[name='Id']").val() },
                                success: function (response) {
                                    $('#loading-image').hide();
                                    if (response.success == true) {
                                        console.log(response.password);
                                        Swal.fire('Success!', 'New password sent to email.', 'success');
                                        LoadUsers();
                                        $("[name='Id']").val(0);
                                    }
                                    else {
                                        Swal.fire('Error!', 'Failed generating new Password, Please try again!.', 'error');
                                    }
                                },
                                failure: function (response) {
                                    $('#loading-image').hide();
                                    alert(response.responseText);
                                },
                                error: function (response) {
                                    $('#loading-image').hide();
                                    alert(response.responseText);
                                }
                            });
                        }
                    });
                }
                else {
                    Swal.fire('Information!', 'Please select user.', 'info');
                }
            }

        });

        ActiveMenu("#maintenance");
        ActiveMenu("#reset_password");

    </script>
}

