@{
    ViewData["Title"] = "User Password Reset";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Maintenance</a></li>
                        <li class="breadcrumb-item active">User Password Reset</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="d-flex justify-content-center">

                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-user pr-2"></i>User Password Reset</h3>
                        </div>

                        <div class="card-body">
                            <form id="frmReset" class="p-2">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="usernameSearch">
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-info btn-flat" id="btnSearch"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>User ID</label>
                                            <input type="text" id="username" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Employee Name</label>
                                            <input type="text" id="employeename" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" id="email" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Mobile Number</label>
                                            <input type="text" id="mobileno" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Group/Department</label>
                                            <input type="text" id="groupdept" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Role</label>
                                            <input type="text" id="role" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btnRegeneratePass" disabled>Regenerate Password</button>
                            <button type="button" id="btnCancel" class="btn btn-danger ml-3">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>
        </div><!--/. container-fluid -->
    </section>

</div>
<!-- /.content-wrapper -->
@section Scripts
    {
    <script>
        $(document).ready(function () {

            $('#btnSearch').click(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SearchUser", "Maintenance")',
                    data: {
                        "Username": $('#usernameSearch').val(),
                    },
                    success: function (response) {
                        console.log(JSON.stringify(response.data))
                        $('#username').val(response.data.userId);
                        $('#employeename').val(response.data.employeeName);
                        $('#email').val(response.data.email);
                        $('#mobileno').val(response.data.mobileNumber);
                        $('#groupdept').val(response.data.groupDept);
                        $('#role').val(response.data.userRole);
                        //alert(response.userId);
                        if (response.data.userId != null) {
                            $(".btnRegeneratePass").prop("disabled", false)
                        }
                        else {
                            Swal.fire('Information!', 'No records found!.', 'info');
                            $(".btnRegeneratePass").prop("disabled", true)
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            })
            $('.btnRegeneratePass').click(function () {
                RegeneratePassword();
            })
            $('#btnCancel').click(function () {
                $("#frmReset").trigger("reset");
            })
            function RegeneratePassword() {
                $(".btnRegeneratePass").prop("disabled", true)
                $(".btnRegeneratePass").html("<i id='btnreplyicon' class='fa fa-spinner fa-spin'></i> Generating...");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RegeneratePassword", "Maintenance")',
                    data: {
                        "Username": $('#username').val(),
                        "Password": "Pass1234.",
                        "EmployeeName": $('#employeename').val(),
                        "Email": $('#email').val(),
                        "Mobileno": $('#mobileno').val(),
                        "GrpDept": $('#groupdept').val(),
                        "Role": $('#role').val(),
                    },
                    success: function (response) {
                        if (response.success == true) {
                            Swal.fire('Success!', 'New password sent to email.', 'success');
                            $(".btnRegeneratePass").prop("disabled", true)
                        }
                        else {
                            Swal.fire('Error!', 'Failed generating new Password, Please try again!.', 'error');
                            $(".btnRegeneratePass").prop("disabled", false)
                        }
                        $(".btnRegeneratePass").html("Regenerate Password");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }

        });

        ActiveMenu("#reset_password");

    </script>
}

