@{
    ViewData["Title"] = "User Maintenance";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">User Access</a></li>
                        <li class="breadcrumb-item active">Maintenance</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-user pr-2"></i>User Details</h3>
                        </div>

                        <div class="card-body">

                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <label>User ID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="usernameSearch">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-info btn-flat" id="btnSearch"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <input type="hidden" name="Id" />
                                <div class="col-md-4">
                                    <label>User ID: </label><label class="text-primary ml-2" name="UserName"></label>
                                </div>
                                <div class="col-md-4">
                                    <label>Employee Name: </label><label class="text-primary ml-2" name="EmployeeName"></label>
                                </div>
                                <div class="col-md-4">
                                    <label>Email: </label><label class="text-primary ml-2" name="Email"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mobile Number: </label><label class="text-primary ml-2" name="MobileNumber"></label>
                                </div>
                                <div class="col-md-4">
                                    <label>Group/Department: </label><label class="text-primary ml-2" name="GroupDept"></label>
                                </div>
                                <div class="col-md-4">
                                    <label>User Role: </label><label class="text-primary ml-2" name="UserRole"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-address-card-o pr-2"></i>User Access</h3>
                        </div>

                        <form id="frmAccess" class="p-2" novalidate="novalidate">
                            <input type="hidden" name="UserId" id="UserId" />
                            <div class="card-body">

                                <div class="row pb-3 pt-3">
                                    <div class="col-md-12">
                                        <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                            <table id="tbl_access" class="table table-bordered table-hover" style="width:100%"></table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                                    <button type="button" class="btn btn-danger ml-3" id="btnCancel">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
        </div><!--/. container-fluid -->
    </section>

</div>
<!-- /.content-wrapper -->
@section Scripts
    {
    <script>
        $(document).ready(function () {

            var checkedCheckboxIds = [];

            $('#btnSearch').click(function () {
                $('#loading-image').show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SearchUser", "Maintenance")',
                    data: {
                        "Username": $('#usernameSearch').val(),
                    },
                    success: function (response) {
                        //console.log(response.data);
                        $('#loading-image').hide();
                        if (response.success == false) {
                            LoadUserAccessById(null);
                            $("[name='Id']").html("");
                            $("[name='UserId']").val(0);
                            $("[name='UserName']").html("");
                            $("[name='EmployeeName']").html("");
                            $("[name='Email']").html("");
                            $("[name='MobileNumber']").html("");
                            $("[name='GroupDept']").html("");
                            $("[name='UserRole']").html("");
                            Swal.fire('Information!', 'No records found!.', 'info');
                        }
                        else {
                            $("[name='Id']").html(response.data.id);
                            $("[name='UserId']").val(response.data.id);
                            $("[name='UserName']").html(response.data.userId);
                            $("[name='EmployeeName']").html(response.data.employeeName);
                            $("[name='Email']").html(response.data.email);
                            $("[name='MobileNumber']").html(response.data.mobileNumber);
                            $("[name='GroupDept']").html(response.data.groupDept);
                            $("[name='UserRole']").val(response.data.userRole);
                            $("[name='UserRole']").html(response.data.userRole);
                            LoadUserAccessById(response.data.userRole);
                        }
                    },
                    failure: function (response) {
                        $('#loading-image').hide();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        $('#loading-image').hide();
                        alert(response.responseText);
                    }
                });
            });

            $('#usernameSearch').on('keyup', function (e) {
                if (e.key === 'Enter') {
                    $('#btnSearch').click();
                }
            });

            $('#btnSave').click(function (e) {
                e.preventDefault();
                if ($("[name='UserId']").val() == "" || $("[name='UserRole']").val() == "") {
                    Swal.fire('Warning!', 'Search user first.', 'warning');
                }
                else {
                    var checkedCheckboxes = $('input[type="checkbox"]:checked');

                    checkedCheckboxes.each(function () {
                        var checkboxId = $(this).attr('id');
                        checkedCheckboxIds.push(checkboxId);
                    });
                    console.log('IDs of checked checkboxes:', checkedCheckboxIds);
                    SaveUserAccess();
                }
            });

            function SaveUserAccess() {
                $('#loading-image').show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveUserAccess", "Maintenance")',
                    data: {
                        userId: $("[name='UserId']").val(),
                        userRole: $("[name='UserRole']").val(),
                        moduleIds: checkedCheckboxIds
                    },
                    success: function (response) {
                        $('#loading-image').hide();
                        if (response.success == true) {
                            Swal.fire('Success!', response.message, 'success');
                        } else {
                            Swal.fire('Warning!', response.message, 'warning');
                        }
                        checkedCheckboxIds = [];
                        LoadUserAccessById(response.userRole);
                    },
                    failure: function (response) {
                        $('#loading-image').hide();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        $('#loading-image').hide();
                        alert(response.responseText);
                    }
                });
            }

            LoadUserAccessById("");
            function LoadUserAccessById(UserRole) {
                var tbl_access = $('#tbl_access').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: false,
                    stateSave: true,
                    info: false,
                    searching: false,
                    paging: false,
                    ajax: {
                        "url": "../Maintenance/LoadUserAccessById",
                        "type": "GET",
                        "data": { UserRole: UserRole },
                        "datatype": "JSON",
                    },
                    columns:
                        [
                            {
                                data: "isActive", title: "Active", sClass: "text-center", render: function (data, type, row) {
                                    var subModuleId = row.subModuleId;
                                    if (data == false || data == true) {
                                        return '<div class="icheck-primary d-inline"><input type="checkbox" id="' + subModuleId + '" checked="checked"><label for="' + subModuleId + '"></label></div>'
                                    }
                                    else {
                                        return '<div class="icheck-primary d-inline"><input type="checkbox" id="' + subModuleId + '"><label for="' + subModuleId + '"></label></div>'
                                    }
                                }
                            },
                            { "data": "subModuleId", visible: false, "orderable": false },
                            { "data": "module", title: "Module", sClass: "text-left", orderable: false },
                            { "data": "subModule", title: "Sub Module", sClass: "text-left", orderable: false },

                        ]
                });

                $('#tbl_access tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    var row = tbl_access.row(this);
                    var checkbox = row.nodes().to$().find('input[type="checkbox"]');
                    var checkboxId = checkbox.attr('id');

                    if (!$(this).hasClass("dtactives")) {
                        $(this).parent().find("tr").removeClass("dtactives");
                        $(this).addClass("dtactives");
                        checkbox.prop('checked', !checkbox.prop('checked'));
                    } else {
                        $(this).removeClass("dtactives");

                        checkbox.prop('checked', false);
                    }
                });



            }

        });

        ActiveMenu("#maintenance");
        ActiveMenu("#user_access");

    </script>
}

