@model RCBC.Models.UserModel
@{
    ViewData["Title"] = "User Maintenance";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">User Approval</a></li>
                        <li class="breadcrumb-item active">Maintenance</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-user pr-2"></i>Users For Approval</h3>
                        </div>

                        <div class="card-body">

                            <div class="row pb-3 pt-3">
                                <div class="col-md-12">
                                    <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                        <table id="tbl_users_approval" class="table table-bordered table-hover text-center" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-address-card-o pr-2"></i>User Access for Approval</h3>
                        </div>

                        <form id="frmAccess" class="p-2" novalidate="novalidate">
                            @Html.HiddenFor(x => x.Id)
                            <div class="card-body">

                                <div class="row pb-3 pt-3">
                                    <div class="col-md-12">
                                        <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                            <table id="tbl_access" class="table table-sm table-bordered table-hover" style="width:100%"></table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary" id="btnApproved" disabled="disabled">Approved</button>
                                    <button type="button" class="btn btn-secondary ml-3" id="btnReject">Reject</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <div id="modal_client_changes" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md pt-5">

            <div class="modal-content">
                <div class="modal-header bg-light-blue">
                    <h4 class="modal-title" id="modal_name"><i class="fa fa-address-book-o pr-2"></i>Changes Details</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="p-3">

                    <div class="row pb-3 pt-3">
                        <div class="col-md-12">
                            <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                <table id="tbl_changes_details" class="table table-bordered table-hover text-center" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" id="btnCancelChanges" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.content-wrapper -->
@section Scripts
{
    <script>
        $(document).ready(function () {

            var checkedCheckboxIds = [];
            var selectedChildModuleIds = [];
            var role = $("#user_role").html();

            LoadUsersForApproval();
            function LoadUsersForApproval() {
                $('#tbl_users_approval').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: true,
                    paging: true,
                    order: [[1, "asc"], [2, "asc"]],
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../Maintenance/LoadUsersForApproval",
                        "data": { role: role },
                        "type": "GET",
                        "datatype": "JSON",
                    },
                    columns:
                        [
                            //{ "data": "id", title: "id", vissible: false, orderable: false },
                            { "data": "username", title: "Username", sClass: "dt-body-center", orderable: false },
                            { "data": "employeeName", title: "Employee Name", sClass: "dt-body-center", orderable: false },
                            { "data": "email", title: "Email", sClass: "dt-body-center", orderable: false },
                            { "data": "mobileNumber", title: "Mobile Number", sClass: "dt-body-center", orderable: false },
                            { "data": "groupDept", title: "Group Department", sClass: "dt-body-center", orderable: false },
                            { "data": "userRole", title: "User Role", sClass: "dt-body-left", orderable: false },
                            {
                                "data": "isApproved", title: "Is Approved", sClass: "text-center", render: function (data, type, row) {
                                    if (data == true) {
                                        return '<span class="badge bg-success">Approved</span>'
                                    }
                                    else if (data == false) {
                                        return '<span class="badge bg-secondary">Rejected</span>'
                                    }
                                    else {
                                        return '<span class="badge bg-danger">For Approval</span>'
                                    }
                                }
                            },
                            {
                                "data": "id", title: "View", render: function (data) {
                                    return "<button type='button' class='btn btn-xs btn-info view'><i class='fa fa-exchange p-1 view'></i></button>";
                                }
                            }
                        ]
                });

                $('#tbl_users_approval tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    if (!$(e.target).is(".view")) {
                        if (!$(this).hasClass("dtactive")) {
                            $(this).parent().find("tr").removeClass("dtactive");
                            $(this).addClass("dtactive");
                            Id = SelectedValue("tbl_users_approval", "id");
                            $("[name='Id']").val(Id);
                            LoadUserAccessById(Id);
                        } else {
                            $(this).removeClass("dtactive");
                            $("[name='Id']").val(0);
                            LoadUserAccessById(0);
                        }
                    }
                    var isApproved = SelectedValue("tbl_users_approval", "isApproved");
                    if (isApproved == null || isApproved == false) {
                        $('#btnApproved').removeAttr('disabled');
                    }
                    else {
                        $('#btnApproved').attr('disabled', 'disabled');
                    }
                });
            }

            $(document).on('click', '.view', function () {
                if ($("[name='Id']").val() != 0) {
                    LoadChangesDetails();
                }
                else {
                    Swal.fire('Information!', 'Please select a record first.', 'info');
                }
            });

            function LoadChangesDetails() {
                $.ajax({
                    url: "../Maintenance/LoadChangesDetails",
                    data: { Id: $("[name='Id']").val(), TableName: "UsersInformation" },
                    type: "GET",
                    dataType: "JSON",
                    success: function (res) {
                        if (res.data.length === 0) {
                            Swal.fire('Information!', 'No Data changes for this record.', 'info');
                        } else {
                            $("#modal_client_changes").modal("show");
                            $('#tbl_changes_details').DataTable({
                                destroy: true,
                                responsive: true,
                                processing: false,
                                search: true,
                                stateSave: true,
                                info: true,
                                searching: true,
                                paging: true,
                                order: [[1, "asc"], [2, "asc"]],
                                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                                data: res.data,
                                columns: [
                                    { "data": "property", title: "Property", sClass: "dt-body-center", orderable: false },
                                    { "data": "oldValue", title: "Old Value", sClass: "dt-body-center", orderable: false },
                                    { "data": "newValue", title: "New Value", sClass: "dt-body-center", orderable: false },
                                ]
                            });
                        }
                    },
                    error: function () {
                        console.log("Error loading data.");
                    }
                });

                $('#tbl_changes_details tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    if (!$(e.target).is(".view")) {
                        if (!$(this).hasClass("dtactive")) {
                            $(this).parent().find("tr").removeClass("dtactive");
                            $(this).addClass("dtactive");
                        } else {
                            $(this).removeClass("dtactive");
                        }
                    }
                });
            }

            $("#btnCancelChanges").click(function (e) {
                e.preventDefault();
                $("#modal_client_changes").modal("hide");
            });

            $('#btnApproved').click(function (e) {
                e.preventDefault();
                if ($("[name='Id']").val() == 0) {
                    Swal.fire('Warning!', 'Please select a user.', 'warning');
                }
                else {
                    var checkedCheckboxes = $('input[type="checkbox"]:checked');

                    checkedCheckboxes.each(function () {
                        if ($(this).attr('id') !== 'checkAllHeader') {
                            var checkboxId = $(this).attr('id');
                            checkedCheckboxIds.push(checkboxId);

                            var childModuleId = $(this).val();
                            selectedChildModuleIds.push(childModuleId);
                        }
                    });
                    console.log('IDs of checked checkboxes:', checkedCheckboxIds);
                    console.log('ChildModuleIDs of selected rows:', selectedChildModuleIds);
                    SaveUserAccess();
                }
            });

            function SaveUserAccess() {
                $('#loading-image').show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveUserAccess", "Maintenance")',
                    data: {
                        userId: $("[name='Id']").val(),
                        moduleIds: checkedCheckboxIds,
                        childModuleIds: selectedChildModuleIds,
                    },
                    success: function (response) {
                        $('#loading-image').hide();
                        if (response.success == true) {
                            Swal.fire('Success!', response.message, 'success');
                        } else {
                            Swal.fire('Warning!', response.message, 'warning');
                        }
                        checkedCheckboxIds = [];
                        selectedChildModuleIds = [];
                        LoadUsersForApproval();
                        LoadUserAccessById(0);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }

            LoadUserAccessById(0);
            function LoadUserAccessById(UserId) {
                var tbl_access = $('#tbl_access').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: false,
                    stateSave: true,
                    info: false,
                    searching: false,
                    paging: false,
                    ajax: {
                        "url": "../Maintenance/LoadUserAccessById",
                        "type": "GET",
                        "data": { UserId: UserId },
                        "datatype": "JSON",
                    },
                    columns:
                        [
                            {
                                data: null,
                                title: '<div class="icheck-primary d-inline"><input type="checkbox" id="checkAllHeader"><label for="checkAllHeader"></label></div>',
                                orderable: false,
                                sClass: "text-center",
                                render: function (data, type, row) {
                                    var subModuleId = row.subModuleId;
                                    var checked = row.isActive == null ? '' : 'checked="checked"';
                                    return '<div class="icheck-primary d-inline"><input type="checkbox" id="' + subModuleId + '" ' + checked + ' value="' + row.childModuleId + '"><label for="' + subModuleId + '"></label></div>';
                                }
                            },
                            { "data": "subModuleId", visible: false, "orderable": false },
                            { "data": "childModuleId", visible: false, "orderable": false },
                            { "data": "module", title: "Module", sClass: "text-left", orderable: false },
                            { "data": "subModule", title: "Sub Module", sClass: "text-left", orderable: false },
                            { "data": "childModule", title: "Child Module", sClass: "text-left", orderable: false },
                            { "data": "isActive", title: "Is Approved", sClass: "text-center", orderable: false },

                        ],
                    initComplete: function () {
                        var allCheckboxesChecked = tbl_access.rows().nodes().to$().find('input[type="checkbox"]:checked').length === tbl_access.rows().count();

                        $('#checkAllHeader').prop('checked', allCheckboxesChecked);
                    }
                });

                $('#tbl_access tbody').off().on('click', 'tr', function (e) {
                    var row = tbl_access.row(this);
                    var checkbox = row.nodes().to$().find('input[type="checkbox"]');
                    var checkboxId = checkbox.attr('id');

                    checkbox.prop('checked', !checkbox.prop('checked'));

                    if (!$(this).hasClass("dtactives")) {
                        $(this).parent().find("tr").removeClass("dtactives");
                        $(this).addClass("dtactives");
                    } else {
                        $(this).removeClass("dtactives");
                    }

                    var allCheckboxesChecked = tbl_access.rows().nodes().to$().find('input[type="checkbox"]:checked').length === tbl_access.rows().count();
                    $('#checkAllHeader').prop('checked', allCheckboxesChecked);
                });

                $('#tbl_access').on('click', '#checkAllHeader', function () {
                    var isChecked = $(this).prop('checked');
                    tbl_access.rows().nodes().to$().find('input[type="checkbox"]').prop('checked', isChecked);

                    if (isChecked) {
                        $('#tbl_access tbody tr').addClass("dtactives");
                    } else {
                        $('#tbl_access tbody tr').removeClass("dtactives");
                    }
                });



            }

            $("#btnReject").click(function (e) {
                e.preventDefault();

                if ($("[name='Id']").val() != 0) {
                    Swal.fire({
                        title: 'Reject Record',
                        text: 'Are you sure you want to reject this record?',
                        icon: 'warning',
                        input: 'text',
                        inputPlaceholder: 'Enter reason for rejection',
                        showCancelButton: true,
                        confirmButtonColor: '#28a745',
                        cancelButtonColor: '#dc3545',
                        confirmButtonText: 'Yes, reject it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var rejectionReason = result.value;
                            if (rejectionReason != null && rejectionReason != "") {
                                $('#loading-image').show();
                                $.ajax({
                                    url: '../Maintenance/UpdateApproval',
                                    data: { Id: $("[name='Id']").val(), tableName: 'users', status: false, reason: rejectionReason },
                                    type: 'POST',
                                    success: function (res) {
                                        $('#loading-image').hide();
                                        if (res.success == true) {
                                            Swal.fire('Success!', 'Record has been rejected.', 'success');
                                            $("#frmAccess").trigger("reset");
                                            $("[name='Id']").val(0);
                                            checkedCheckboxIds = [];
                                            selectedChildModuleIds = [];
                                            LoadUsersForApproval();
                                            LoadUserAccessById(0);
                                        } else {
                                            Swal.fire('Error!', res.msg, 'error');
                                        }
                                    }
                                });
                            }
                            else {
                                Swal.fire('Information!', 'Please provide reason for rejection.', 'info');
                            }
                        }
                    });
                }
                else {
                    Swal.fire('Information!', 'Please select a record first.', 'info');
                }
            });

        });


        ActiveMenu("#maintenance");
        ActiveMenu("#user_approval");

    </script>
}

